:root {
  --white-color: white;
  --black-color: black;
  --yellow-color: #ffc633;
  --gray-color1: #f0f0f0;
  --gray-color2: #909090;
  --gray-color-text: #717070;
  --backround-color: var(--white-color);
}

body {
  background-color: var(--backround-color);
  /* height: 1000dvh; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Navbar */

nav {
  background-color: var(--white-color);
}

.logo {
  font-weight: 800;
  font-size: 3vw;
  margin-right: 0.8vw;
}

.nav-link {
  font-size: 1.4vw;
}

.navbar-nav a {
  text-decoration: none;
  color: rgb(142, 141, 141);
}

.active {
  border-bottom: 2px solid;
  color: black;
  text-decoration: none;
  text-align: center;
}

.searchButton {
  width: 35vw;
  line-height: 2vw;
  padding: 0.3vw 3vw;
  font-size: 1.2vw;
  color: var(--gray-color2);
  background-color: var(--gray-color1);
}

.searchButton:focus {
  box-shadow: none;
}

nav form button svg {
  font-size: 1.2vw;
  color: var(--gray-color2);
}

.navbarIcons {
  text-decoration: none;
  color: var(--black-color);
  font-size: 2vw;
  margin: 1vw 0.5vw;
}

/* Main */
main {
  position: relative;
  margin-bottom: 150px;
  /* height: 100vh; */
}

/* Hero */
.hero {
  background-color: #f2f0f1;
  /* margin: 0 !important;
  padding: 0 !important; */
  width: 100vw;
}

.heroImage {
  width: 100%;
}

.slogan {
  font-size: clamp(1.8rem, calc(5vw + 1rem), 10rem);
  line-height: clamp(1.8rem, calc(4vw + 1rem), 10rem);
  font-weight: 800;
  color: black;
}

.slogan:nth-child(3) {
  margin-bottom: 3vh;
}
.slogan:nth-child(1) {
  margin-top: 2vh;
}

.heroSlogan > p {
  color: #00000080;
  font-size: 1rem;
  padding-left: 0.3vw;
  line-height: 4vh;
}

.heroButton {
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 2rem);
  padding: 1vw max(10vw, 7rem);
  margin: 1vw 1vw 1vw 0vw;
}

.heroInfo {
  width: 40vw;
  margin-top: 1vw;
}

.heroInfoNumbers {
  font-size: clamp(0.8rem, calc(3vw + 0.25rem), 2rem);
  /* font-size: 2.5vw; */
  color: var(--black-color);
  font-weight: 500;
  /* line-height: 2vh !important; */
  /* margin-bottom: 2rem; */
}

.heroInfoText {
  /* font-size: 1.1vw; */
  font-size: clamp(0.6rem, calc(0.75vw + 0.25rem), 1.5rem);
  color: #00000080 !important;
  font-weight: 400;
}

.brands {
  /* width: 100%; */
  /* height: 10rem; */
  background-color: var(--black-color);
  color: var(--white-color);
}

.brands img {
  width: 13em;
  /* height: 8rem; */
}

.zara {
  width: fit-content;
  height: 2.75rem;
}

.versace {
  /* height: 7em !important; */
  /* width: 10rem; */
  margin: 1rem 0rem;
  /* height: 4rem; */
}

/* Main Section */
article h2 {
  color: var(--black-color);
  font-size: 3.4rem;
  font-weight: 800;
}

/* Card */
/* .starsContainer .fa {
  display: inline;
} */

.card {
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-7px);
}

.card-body {
  padding-top: 1.2rem;
}

.card-title {
  /* text-align: start;
  text-decoration: none;
  color: var(--black-color);
  margin: 1vh 0 0 0 !important; */
}

.cardFooter p {
  font-size: 32px;
  font-weight: 600;
}

.totalRate {
  color: #00000080;
}

.cardFooter a {
  padding: 0;
  margin: 0;
}
.cardFooter svg {
  font-size: 24px;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  /* color: red !important; */
}

.card-body a {
  text-decoration: none;
  color: var(--black-color);
}

.viewAllNewArrival,
.viewTopSelling {
  border-width: 2px;
  border-color: var(#00000080);
  color: var(--black-color);
  padding: 0.5rem 3rem;
  margin-bottom: 1vh;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --backround-color: var(--black-color);
    }
}

@media (prefers-color-scheme: white) {
    :root {
        --backround-color: var(--white-color);
    }
} */

/* Footer */
footer {
  background-color: #e1e3e6;
  margin-top: 20vh;
}

#offer {
  padding: 1.5rem 2rem;
  border-radius: 10px;
}

#toEmail {
  div {
    background-color: white;
    margin: 0.5rem;
    border-radius: 15px;
  }

  a {
    text-decoration: none;
    color: black;
    p {
      padding: 5px 0;
      text-align: center;
    }
  }

  i {
    margin: 15px;
  }

  input {
    border: none;
    margin-right: 10px;
  }
}

footer h1 {
  font-weight: 800;
  font-size: 38px;
  /* font-size: 3vw; */
  margin-right: 0.8vw;
}

footer svg {
  color: var(--black-color);
}
.footerHero {
  width: 85vw;
  padding: 4vw 3vw !important;
}

.footerLogoInfo {
  font-size: 1.5vh;
  color: var(--gray-color-text);
}

.footericon {
  margin: 10px 8px 0px 15px;
}

.form-control:focus {
  border-color: var(--black-color);
  box-shadow: none;
}

.footerInfo h5 {
  font-size: 24px;
  margin-top: 1vh;
}

.footerInfo p {
  font-size: 18px;
}
