:root {
  --white-color: white;
  --black-color: black;
  --yellow-color: #ffc633;
  --backround-color: var(--white-color);
}

body {
  background-color: var(--backround-color);
  height: 1000dvh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */

nav {
  background-color: var(--white-color);
}

.logo {
  font-weight: 800;
}

.searchButton {
  width: 40vw;
}

/* Main */
main {
  position: relative;
  /* height: 100vh; */
}
/* Hero */
.heroContainer {
  position: relative;
}

.heroSlogan {
  position: absolute;
  top: 10%;
  left: 5%;
}

.slogan {
  font-size: 6vw;
  font-weight: 800;
  color: black;
}

.slogan:nth-child(3) {
  margin-bottom: 3vh;
}

.heroContainer p {
  color: #00000080;
  padding-left: 0.3vw;
  line-height: 1.1vh;
}
/* .star1 {
    position: absolute;
    width: fit-content;
    height: 12%;
    right: 4.5%;
    top: 10%;
}
.star2 {
    position: absolute;
    width: fit-content;
    height: 7%;
    right: 45%;
    top: 37%;
} */

.brands {
  /* width: 100%; */
  /* height: 10rem; */
  background-color: var(--black-color);
  color: var(--white-color);
}

.brands img {
  width: 13em;
  /* height: 8rem; */
}

.zara {
  width: fit-content;
  height: 2.75rem;
}

.versace {
  /* height: 7em !important; */
  /* width: 10rem; */
  margin: 1rem 0rem;
  /* height: 4rem; */
}

/* Main Section */
article h2 {
  color: var(--black-color);
  font-size: 5rem;
  font-weight: 800;
}

/* Card */
/* .starsContainer .fa {
  display: inline;
} */

.card-body {
  padding-top: 1.2rem;
}

.cardFooter p {
  font-size: 32px;
  font-weight: 600;
}

.totalRate {
  color: #00000080;
}

.cardFooter a {
  padding: 0;
  margin: 0;
}
.cardFooter svg {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-body a {
  text-decoration: none;
  color: var(--black-color);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --backround-color: var(--black-color);
    }
}

@media (prefers-color-scheme: white) {
    :root {
        --backround-color: var(--white-color);
    }
} */
